* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: banner;
}
.item3 {
  grid-area: first;
}
.item4 {
  grid-area: second;
}
.item5 {
  grid-area: services;
}
.item6 {
  grid-area: fourth;
}
.item7 {
  grid-area: bigColumn;
}
.item8 {
  grid-area: contact;
}
.item9 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "banner"
    "first"
    "second"
    "services"
    "fourth"
    "bigColumn"
    "contact"
    "footer";

  /* grid-gap: 10px; */
  background-color: #bce0fd;
  /* padding: 10px; */
  font-size: 20px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0; */
}

/* Start of Navigation Styles */
.grid-container header {
  background-color: #000034;
  text-align: center;
  padding: 24px 0;
}

.nav-menu ul li {
  display: inline;
  padding: 0em 1.5em 0em 1.5em;
  font-size: 1.4em;
  color: white;
}
/* End of Navigation Styles */

/* Start of Banner Container Styles */
#banner-container {
  position: relative;
  text-align: center;
}

#banner-container img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  opacity: 0.85;
}

.title-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-container h3 {
  font-size: 70px;
}

.title-container h4 {
  font-size: 25px;
}
/* End of Banner Container Styles */

/* Start of Three Column Container */

#first-container {
  /* background-color: rgb(212, 99, 99); */
  padding-top: 4.9vh;
  height: 41vh;
  max-height: 500px;
}

.first-inner-container {
  /* background-color: gold; */
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
}

.column-container {
  flex: 0.3;
  /* background-color: blue; */
  width: 50%;
  display: flex;
  border: 1px solid gray;
}

.column-container img {
  max-width: 100%;
  max-height: 100%;
}

.inner-column {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 222, 232);
}

.inner-column img {
  flex: 1;
}

.inner-column h2 {
  flex: 0.2;
  font-size: 1em;
  padding: 0.4em 0 0 0.6em;
}

.inner-column p {
  flex: 1;
  font-size: 0.9em;
  padding: 0.4em 0 0 0.6em;
}

.inner-column .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}

.inner-column button {
  flex: 0.5;
  font-size: 0.9em;
  background-color: #178a27;
  color: white;
  border-radius: 10%;
  padding: 0.6em;
}

/* End of Third Column Container */

/* Start of Fourth Column Container */
.item4 {
  padding-top: 4.9vh;
}

.item4-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.item4-flex-items {
  display: flex;
  flex-direction: column;
  flex: 0.1;
  background-color: rgb(221, 222, 232);
  padding-bottom: 3vh;
}

.item4-flex-items h2 {
  font-size: 1em;
  text-align: center;
  padding-top: 20px;
}

.item4-flex-items p {
  font-size: 0.9em;
  padding: 10px 27px 0 27px;
}
/* End of Fourth Column Container */

/* End of Fifth Column Container */
.item5 {
  padding-top: 4vh;
}

.item5 img {
  width: 100%;
}
/* End of Fifth Column Container */

/* Start of Sixth Column Container */
.item6 {
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.item6-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
}

.item6-items {
  flex: 0.1;
  background-color: rgb(221, 222, 232);
  padding-bottom: 4vh;
}

.item6-items h2 {
  font-size: 1em;
  text-align: center;
  padding: 10px;
}

.item6-items p {
  font-size: 0.9em;
  padding: 10px 27px 0 27px;
}
/* End of Sixth Column Container */

/* Start of Seventh Column Container */
.item7-container {
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;
}

.item7-items img {
  width: 100%;
  height: auto;
  /* background-size: cover; */
  /* background-position: center center; */
}

.item7-items {
  flex: 0.9;
  background-color: rgb(221, 222, 232);
  padding-bottom: 2vh;
}

.item7-items h2 {
  font-size: 1em;
  padding: 27px 10px 20px 20px;
}

.item7-items p {
  font-size: 0.9em;
  padding-left: 20px;
}

.item7-items button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vh;
  margin: 30px 0 0 20px;
  padding: 0 30px 0 30px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}
/* End of Seventh Column Container */

/* Start of Eight Column Container */
.item8-container {
  display: flex;
  flex-direction: column;
  height: 43vh;
  background-image: url("./images/chicago-winter.jpg");
  background-size: cover; 
  background-position: center;
  padding: 0 20% 0 20%;
}

.item8-items {
  display: flex;
  height: 43vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.item8-items p {
  margin-top: 15px;
  text-align: center;
}

.contact-container {
  display: flex;
  /* flex-direction: column; */
  /* background-color: goldenrod; */
  width: 100%;
  /* justify-content: space-evenly; */
  margin-top: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 15px;
}

.input-container > input {
  margin-bottom: 15px;
  padding: 6px 12px;
  font-size: 0.7em;
  line-height: 1.4;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8)
}

.text-container {
  flex: 1;
  margin-left: 15px;
  margin-bottom: 15px;
}

.text-container textarea {
  flex: 1;
  height: 100%;
  width: 100%;
  font-size: 0.7em;
  line-height: 1.4;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 12px;
}

.item8-items button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  border: 1px solid #cdcdcd;
  margin-top: 10px;
  background-color: rgb(17, 2, 2);
  color: white;
}
/* End of Eight Column Container */

/* Start of Footer Container */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 35px 0;
  font-size: 0.9em;
  background-color: #000034;
  color: white;
}