* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: banner;
}
.item3 {
  grid-area: first;
}
.item4 {
  grid-area: second;
}
.item5 {
  grid-area: services;
}
.item6 {
  grid-area: fourth;
}
.item7 {
  grid-area: bigColumn;
}
.item8 {
  grid-area: contact;
}
.item9 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "banner"
    "first"
    "second"
    "services"
    "fourth"
    "bigColumn"
    "contact"
    "footer";

  /* grid-gap: 10px; */
  background-color: #bce0fd;
  /* padding: 10px; */
  font-size: 20px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0; */
}

/* Start of Navigation Styles */
.grid-container header {
  background-color: #000034;
  text-align: center;
  padding: 24px 0;
}

.nav-menu ul li {
  display: inline;
  padding: 0em 1.5em 0em 1.5em;
  font-size: 1.4em;
  color: white;
}
/* End of Navigation Styles */

/* Start of Banner Container Styles */
#banner-container {
  position: relative;
  text-align: center;
}

#banner-container img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  opacity: 0.85;
}

.title-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-container h3 {
  font-size: 70px;
}

.title-container h4 {
  font-size: 25px;
}
/* End of Banner Container Styles */

/* Start of Three Column Container */
#first-container {
  /* background-color: rgb(212, 99, 99); */
  padding-top: 4.9vh;
  height: 41vh;
  max-height: 500px;
}

.first-inner-container {
  /* background-color: gold; */
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
}

.column-container {
  flex: 0.3;
  /* background-color: blue; */
  width: 50%;
  display: flex;
  border: 1px solid gray;
}

.column-container img {
  max-width: 100%;
  max-height: 100%;
}

.inner-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(156, 158, 168, 0.699);
}

.inner-column img {
  flex: 1;
}

.inner-column h2 {
  flex: 0.2;
  font-size: 1em;
  padding: 0.4em 0 0 0.6em;
}

.inner-column p {
  flex: 1;
  font-size: 0.9em;
  padding: 0.4em 0 0 0.6em;
}

.inner-column .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}

.inner-column button {
  flex: 0.5;
  font-size: 0.9em;
  background-color: #178a27;
  color: white;
  border-radius: 10%;
  padding: 0.6em;
}



/* End of Three Column Container */